# Vim artifacts
*.swp
*.swo

# Terraform files
.terraform/*
.terraform

# Terraform Crash Logs
crash.log

# Secrets directories
# TODO: Use an actual secrets service to keep secrets out of git
secrets/*
